<section id="main_content">

<div class="container">

<ol class="breadcrumb">
  <li><a href="index.html">Home</a></li>
  <li class="active">Blog</li>
</ol>

	 <div class="row">
     <%= render partial:"dashboard/blog_sidebar" %>
     
     <div class="col-md-8">
     		<div class="post">
					<%= link_to blog_post_path do %>
						<%= image_tag "theme/blog-3.jpg", class:'img-responsive' %>
					<% end %>
					<div class="post_info clearfix">
						<div class="post-left">
							<ul>
								<li><i class="icon-calendar-empty"></i>On <span>12 Nov 2020</span></li>
								<li><i class="icon-user"></i>By <a href="#">John Smith</a></li>
								<li><i class="icon-tags"></i>Tags <a href="#">Works</a> <a href="#">Personal</a></li>
							</ul>
						</div>
						<div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
					</div>
					<h2><%= link_to "Duis aute irure dolor in reprehenderit", blog_post_path %></h2>
					<p>
						Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.....
					</p>
					<%= link_to "Read more", blog_post_path, class:"button_medium" %>
				</div><!-- end post -->
                
				<div class="post">
					<%= link_to '#' do %>
						<%= image_tag "theme/blog-3.jpg", class:'img-responsive' %>
					<% end %>
					<div class="post_info clearfix">
						<div class="post-left">
							<ul>
								<li><i class="icon-calendar-empty"></i>On <span>12 Nov 2020</span></li>
								<li><i class="icon-user"></i>By <a href="#">John Smith</a></li>
								<li><i class="icon-tags"></i>Tags <a href="#">Works</a> <a href="#">Personal</a></li>
							</ul>
						</div>
						<div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
					</div>
					<h2><a href="single_post.html" title="single_post.html">Duis aute irure dolor in reprehenderit</a></h2>
					<p>
						Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.....
					</p>
					<a href="blog_post.html" class="button_medium">Read more</a>
				</div><!-- end post -->
                
				<div class="post">
					<%= link_to '#' do %>
						<%= image_tag "theme/blog-3.jpg", class:'img-responsive' %>
					<% end %>
					<div class="post_info clearfix">
						<div class="post-left">
							<ul>
								<li><i class="icon-calendar-empty"></i>On <span>12 Nov 2020</span></li>
								<li><i class="icon-user"></i>By <a href="#">John Smith</a></li>
								<li><i class="icon-tags"></i>Tags <a href="#">Works</a> <a href="#">Personal</a></li>
							</ul>
						</div>
						<div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
					</div>
					<h2><a href="blog_post.html" title="single_post.html">Duis aute irure dolor in reprehenderit</a></h2>
					<p>
						Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.....
					</p>
					<a href="blog_post.html" class="button_medium" title="single_post.html">Read more</a>
				</div><!-- end post -->
                
				<hr>
                
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul><!-- end pagination-->
                </div>
     </div><!-- End col-md-8-->   
  
	
  </div>  <!-- End row-->    
</div><!-- End container -->
</section><!-- End main_content-->