<section id="sub-header_pattern_2">
    <div class="container">
    
      <div class="row">
          <div class="col-md-12 text-center">
              <h1>Course Overview</h1>
                <p class="lead">Caulie <strong>dandelion</strong> maize lentil collard greens radish arugula sweet pepper water.</p>
            </div>
        </div><!-- End row -->
        
        <div class="row" id="sub-header-features">
          <div class="col-md-6">
              <h2>A brief summary</h2>
                <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor <strong>imperdiet deterruisset</strong>, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</p>
                <p><em>John - General Manager</em></p>
            </div>
            <div class="col-md-6">
              <h2>What you will learn</h2>
                <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui.</p>
                <ul class="list_ok">
                    <li><strong>Certified</strong> and expert teachers</li>
                    <li><strong>Extensive</strong> doumentation provided</li>
                    <li><strong>Money back</strong> garantee</li>
                    <li><strong>Became an exeprt</strong> in only 6 days</li>
                </ul>
            </div>
          
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
  </section>
  
  <section id="strips-course" class="style_2">
    
    <div class="container">
    
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Course Overview</li>
    </ol>

    <article class="row">
      <div class="col-md-3 col-sm-3 hidden-xs text-center"><%= image_tag "theme/number_1_small.png" %></div>
        <div class="col-md-9 col-sm-9">
        <h3><em>Stage One</em> Welcome and intro</h3>
        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor <strong>imperdiet deterruisset</strong>, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</p>
                
        <ul class="data-lessons">
            <li class="po-markup">
                  <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Available dates</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Next dates</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
              </li>
              <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i>Audio doc</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Audio doc</strong></div> <!-- ./po-title -->
                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Audio lessons</li><li> <i class="icon-ok"></i>1 Audio for practice</li><li> <i class="icon-ok"></i>1 Audio Quiz</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
          </ul>
          <%= link_to "Agenda", agenda_path, class:"button_medium" %>
          <%= link_to 'Details', lesson_path, class:"button_medium_outline" %>

        </div>
        
    </article><!-- End strip-program  -->
    
    <article class="row">
    <div class="col-md-3 col-sm-3 hidden-xs text-center"><%= image_tag "theme/number_2_small.png" %></div>
        <div class="col-md-9 col-sm-9">
        <h3><em>Stage Two</em> Undestanding principles</h3>
        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor <strong>imperdiet deterruisset</strong>, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</p>
        <ul class="data-lessons">
            <li class="po-markup">
                  <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Available dates</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Next dates</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
              </li>
              <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
          </ul>
         <a href="course_timeline.html" class="button_medium">Schedule</a> 
        </div>
        
    </article><!-- End strip-program  -->
    
    <article class="row">
        <div class="col-md-3 col-sm-3 hidden-xs text-center"><%= image_tag "theme/number_3_small.png" %></div>
        <div class="col-md-9 col-sm-9">
        <h3><em>Stage Three</em> Diagrams and charts</h3>
        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor <strong>imperdiet deterruisset</strong>, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</p>
        <ul class="data-lessons">
            <li class="po-markup">
                  <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Available dates</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Next dates</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
              </li>
              <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
          </ul>
          <a href="course_timeline.html" class="button_medium">Schedule</a> 
        </div>

    </article><!-- End strip-program  -->
    
    <article class="row">
    <div class="col-md-3 col-sm-3 hidden-xs text-center"><%= image_tag "theme/number_4_small.png" %></div>
        <div class="col-md-9 col-sm-9">
        <h3><em>Stage Three</em> Fundamentals</h3>
        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor <strong>imperdiet deterruisset</strong>, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</p>
        <ul class="data-lessons">
            <li class="po-markup">
                  <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Available dates</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Next dates</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
              </li>
              <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
          </ul>
          <a href="course_timeline.html" class="button_medium">Schedule</a> 
        </div>
        
    </article><!-- End strip-program  -->
    
    <article class="row">
    <div class="col-md-3 col-sm-3 hidden-xs text-center"><%= image_tag "theme/number_5_small.png" %></div>
        <div class="col-md-9 col-sm-9">
        <h3><em>Stage Five</em> Focus on Business Plan</h3>
        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor <strong>imperdiet deterruisset</strong>, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</p>
        <ul class="data-lessons">
            <li class="po-markup">
                  <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Available dates</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Next dates</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
              </li>
              <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
          </ul>
         <a href="course_timeline.html" class="button_medium">Schedule</a> 
        </div>
        
    </article><!-- End strip-program  -->
    
    <article class="row add_bottom_45">
    <div class="col-md-3 col-sm-3 hidden-xs text-center"><%= image_tag "theme/number_6_small.png" %></div>
        <div class="col-md-9 col-sm-9">
        <h3><em>Stage Six</em> Final test and summary </h3>
        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor <strong>imperdiet deterruisset</strong>, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</p>
        <ul class="data-lessons">
            <li class="po-markup">
                  <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Available dates</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Next dates</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
              </li>
              <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i> Duration: 6 hours</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
                    <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i> Text doc</a>
                    <div class="po-content hidden">
                  <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                        <div class="po-body">
                          <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                        </div><!-- ./po-body -->
                    </div><!-- ./po-content -->
                    </li>
          </ul>
         <a href="course_timeline.html" class="button_medium">Schedule</a> 
        </div>
        
    </article><!-- End strip-program  -->
            
            <div class="row">
            
                <div class="col-md-4">
                    <div class="question_box">
                        <h3>No sit debitis meliore postulant, per ex prompta alterum sanctus?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
                        </p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Autem putent singulis usu ea, bonorum suscipit eum?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
                        </p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Pro moderatius philosophia ad, ad mea mupercipitur?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
                        </p>
                    </div>
                </div>
                
            </div><!-- end row -->
    </div>
    
  </section>

  <%= render partial: "layouts/start_learning" %>
