<section id="sub-header" >
  	<div class="container">
    
    	<div class="row">
        	<div class="col-md-12 text-center">
            	<h1>Course details</h1>
                <p class="lead">Caulie <strong>dandelion</strong> maize lentil collard greens radish arugula sweet pepper water.</p>
            </div>
        </div><!-- End row -->
        
        <div class="row" id="sub-header-features-2">
        	<div class="col-md-6">
            	<h2>A brief summary</h2>
                <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor <strong>imperdiet deterruisset</strong>, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</p>
                <p><em>John - General Manager</em></p>
            </div>
            <div class="col-md-6">
            	<h2>What you will learn</h2>
                <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui.</p>
                <ul class="list_ok">
                    <li><strong>Certified</strong> and expert teachers</li>
                    <li><strong>Extensive</strong> doumentation provided</li>
                    <li><strong>Money back</strong> garantee</li>
                    <li><strong>Became an exeprt</strong> in only 6 days</li>
                </ul>
           </div>
        	
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
  </section>
  
  <section id="main_content">
  <div class="container">
  
  <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Active page</li>
    </ol>

	 <div class="row">
     		<div class="col-md-8">
                    
                    <div class="row">
                    	<div class="col-md-12">
                        	<span>You complete <strong>5</strong> out of <strong>29</strong> lectures</span><span id="end"><i class="icon-trophy"></i></span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" data-percentage="25"></div>
                                </div>
                        </div>
                    </div><!-- End progress bar -->
                    
                    <hr>
                    
                    <h3 class="chapter_course">Chapter 1: Welcome.</h3>
                    <div class="strip_single_course">
                        <h4 class="completed">
                          <%= link_to "Setting up your development environment on OS X", lesson_detail_path %>
                        </h4>
                        <ul>
                              <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-doc"></i>Text reading</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <div class="strip_single_course">
                        <h4 class="completed"><%= link_to "Setting up your development environment on Linux", lesson_detail_path %></h4>
                        <ul>
                            <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-video"></i> Video lesson</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <div class="strip_single_course">
                        <h4 class="completed"><%= link_to "Setting up your development environment on Windows", lesson_detail_path %></h4>
                        <ul>
                            <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-mic"></i> Audio lesson</li>
                        </ul>
                    </div><!-- end strip single course -->
                                      
                    <h3 class="chapter_course">Chapter 2: Case aeque melius duo ut, porro ridens habemus quo in.</h3>
                    <div class="strip_single_course">
                        <h4 class="inprogress"><a href="#">Et has suscipit probatus.</a></h4>
                        <ul>
                              <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-doc"></i>Text reading</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <div class="strip_single_course">
                        <h4 class="start"><a href="#">Quo ea feugiat saperet vulputate</a></h4>
                        <ul>
                              <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-doc"></i>Text reading</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <div class="strip_single_course">
                        <h4 class="inprogress"><a href="#">Legere sanctus perfecto at eos</a></h4>
                        <ul>
                              <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-doc"></i>Text reading</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <div class="strip_single_course">
                        <h4 class="inprogress"><a href="#">Mei habemus voluptua ex, utroque instructior.</a></h4>
                        <ul>
                              <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-doc"></i>Text reading</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <h3 class="chapter_course">Chapter 3: Case aeque melius duo ut, porro ridens habemus quo in.</h3>
                    <div class="strip_single_course">
                        <h4 class="inprogress"><a href="#">Ysu suavitate adversarium philosophia.</a></h4>
                        <ul>
                            <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-video"></i> Video</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <div class="strip_single_course">
                        <h4 class="start"><a href="#">Eu sit causae elaboraret efficiendi.</a></h4>
                        <ul>
                            <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-video"></i> Video</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <div class="strip_single_course">
                        <h4 class="start"><a href="#">Moderatius efficiantur eu mei.</a></h4>
                        <ul>
                            <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-video"></i> Video</li>
                        </ul>
                    </div><!-- end strip single course -->
                    
                    <div class="strip_single_course add_bottom_30">
                        <h4 class="start"><a href="#">Diam assentior sententiae eu duo.</a></h4>
                        <ul>
                            <li><i class="icon-clock"></i> 00:58</li>
                              <li><i class="icon-video"></i> Video</li>
                        </ul>
                    </div><!-- end strip single course -->
                
            </div><!-- End col-md-8  -->
            
            <aside class="col-md-4">
            
            	<div class="box_style_1">
         			<h4>Lessons <span class="pull-right">17</span></h4>
         			<h4>Hours <span class="pull-right">12</span></h4>
                    <h4>Rates <span class="pull-right rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></span></h4>
                    <h4><a href="#">Download files <i class="icon-download pull-right"></i></a></h4><br>
                	<h4>Speakers</h4>
                    <div class="media">
                        <div class="pull-right">
                          <%= image_tag "theme/avatar1.jpg", class: "img-circle" %>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Marc Twain</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. 
                            </p>
                        </div>
                    </div>
                    
                    <div class="media">
                        <div class="pull-right">
                          <%= image_tag "theme/avatar1.jpg", class: "img-circle" %>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Marc Twain</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
                            </p>
                        </div>
                    </div>
           </div>
           
            <div class="box_style_1">
                    <h4>Legend</h4>
                    <ul class="legend_course">
                          <li id="tostart">Still to start</li>
                          <li id="inprogress">In progress</li>
                          <li id="completed">Completed</li>
                     </ul>
           </div>
       	 	
           
           <div class="box_style_1">
                    <h4>Related content</h4>
                    <ul class="list_1">
                          <li><a href="#">Ceteros mediocritatem</a></li>
                          <li><a href="#">Labore nostrum</a></li>
                          <li><a href="#">Primis bonorum</a></li>
                          <li><a href="#">Ceteros mediocritatem</a></li>
                     </ul>
           </div>
         </aside> <!-- End col-md-4 -->
     	
     </div><!-- End row -->
  </div><!-- End container -->
  </section>
<script type="text/javascript">
/* <![CDATA[ */

setTimeout(function(){

    $('.progress .progress-bar').each(function() {
        var me = $(this);
        var perc = me.attr("data-percentage");

        var current_perc = 0;

        var progress = setInterval(function() {
            if (current_perc>=perc) {
                clearInterval(progress);
            } else {
                current_perc +=1;
                me.css('width', (current_perc)+'%');
            }

            me.text((current_perc)+'%');

        }, 50);

    });

},500);
  /* ]]> */
</script> 