<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


	<div id="top-wizard">
		<strong>Profile Progress </strong>
		<div id="progressbar"></div>
		<div class="shadow"></div>
	</div><!-- end top-wizard -->
    
	<%= form_for @profile, id:"wrapped" do |f| %>
		<div id="middle-wizard">

			<div class="step">
				<div class="row">
					<h3 class="col-md-10">Let's Setup Your New AnonyQ Profile</h3>
                    <p class="col-md-12">
	                    Thank you for your interest in AnonyQ - We'd like to get to know you a little better.
	                    <br> Need help? Call us for support <strong>972.123.4567</strong>
                    </p>
					<div class="col-md-6">
						<ul class="data-list">
							<li><div class="form-group">
								<%= f.text_field :first_name, class:"required form-control", placeholder:"First Name" %>
								<span class="input-icon"><i class="icon-user"></i></span>
							</div></li>
							<li><div class="form-group">
								<%= f.text_field :last_name, class:"required form-control", placeholder:"Last Name" %>
								<span class="input-icon"><i class="icon-user"></i></span></div></li>
							<li><div class="form-group">
								<%= f.text_field :username, class:"required form-control", placeholder:"Username" %>
								<span class="input-icon"><i class="icon-user"></i></span></div></li>
						</ul>
					</div><!-- end col-md-6 -->
                    
					<div class="col-md-6">
                   
                        
						<ul class="data-list" style="margin:0; padding:0;">
                            <li><div class="form-group">
                            	<%= f.text_field :phone, class:"required form-control", placeholder:"Phone Number" %>
                            	<span class="input-icon"><i class="icon-phone"></i></span></div></li>
							<li><div class="form-group">
									<%= f.text_field :referral, class:"form-control", placeholder:"How Did You Hear About AnonyQ School?" %>
									<span class="input-icon"><i class="icon-user"></i></span>

							</div>
							</li>
                        </ul>
						<ul class="data-list floated clearfix">
							<li id="age">
								<%= f.text_field :age, class:"required form-control", placeholder:"Age" %>
							</li>
							<li>
								<%= f.radio_button :gender, "male", class:"required check_radio" %>
							<label class="label_gender"> Male</label></li>
							<li>
								<%= f.radio_button :gender, "female", class:"required check_radio" %>
							<label class="label_gender"> Female</label></li>
						</ul>
                        
					</div><!-- end col-md-6 -->
				</div><!-- end row -->
                
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<ul class="data-list" id="terms">
							<li>
                            <strong>Do you accept <a href="#" data-toggle="modal" data-target="#terms-txt">terms and conditions</a> ?</strong>
                           <label class="switch-light switch-ios ">
                                    <input type="checkbox" name="terms" class="required fix_ie8" value="yes">
                                    <span>
                                        <span class="ie8_hide">No</span>
                                        <span>Yes</span>
                                    </span>
                                    <a></a>
                                </label>
							</li>
						</ul>
					</div>
				</div>
                
			</div><!-- end step-->

			<div class="step">
				<div class="row">
					<h3 class="col-md-10">Let's Setup Your New AnonyQ Profile</h3>
                    <p class="col-md-12">
	                    Thank you for your interest in AnonyQ - We'd like to get to know you a little better.
	                    <br> Need help? Call the admissions department for support <strong>972.123.4567</strong>
                    </p>
					<div class="col-md-12">
						<ul class="data-list">
							<li><div class="form-group">
								<%= f.text_field :address1, class:"required form-control", placeholder:"Address Line 1" %>
								<span class="input-icon"><i class="icon-user"></i></span></div></li>
							<li><div class="form-group">
								<%= f.text_field :address2, class:"form-control", placeholder:"Address Line 2" %>
								<span class="input-icon"><i class="icon-user"></i></span></div></li>
						</ul>
					</div><!-- end col-md-6 -->
				</div><!-- end row -->
				<div class="row">
					<div class="col-md-6">
						<ul class="data-list">
							<li>
								<div class="form-group">
									<%= f.text_field :city, class:"required form-control", placeholder:"City" %>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-2">
						<ul class="data-list">
							<li>
								<div class="form-group">
									<%= f.text_field :state, class:"required form-control", placeholder:"State" %>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="data-list">
							<li>
								<div class="form-group">
									<%= f.text_field :zip, class:"required form-control", placeholder:"Zip" %>
								</div>
							</li>
						</ul>
					</div>
				</div>
                
			</div><!-- end step-->
                        
			<div class="submit step" id="complete">
                    	<i class="icon-check"></i>
						<h3>Thanks! Click this button to finalize your application - Hope to see you in class!</h3>
						<%= f.button "Submit your application", class:"submit" %>
			</div><!-- end submit step -->
            
		</div><!-- end middle-wizard -->
        
		<div id="bottom-wizard">
			<button type="button" name="backward" class="backward">Backward</button>
			<button type="button" name="forward" class="forward">Forward </button>
		</div><!-- end bottom-wizard -->
		<% end %>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->