<section id="sub-header">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h1>The Team Behind AnonyQ</h1>
				<p class="lead boxed ">The Best Classroom Communication Tool EVARRR</p>
				<p class="lead">
					Read more about our team. 
				</p>
			</div>
		</div><!-- End row -->
	</div><!-- End container -->
	<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
	<div class="container">

		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path %></li>
			<li class="active">About AnonyQ</li>
		</ol>

		<div class="row">
			<div class="col-md-7">

				<h3>Ask our team questions anonymously!</h3>
				<p>
					We AnonyQ
				</p>

				<h3>Why choose AnonyQ?</h3>
				<h4>Turn presentations into conversations</h4>
				<p>
					Yea!
				</p>
				<h4>No more fear to ask questions</h4>
				<p>
					Woohoo!
				</p>
				<h4>We add IQ through AnnonyQ</h4>
				<p>

				</p>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<div class="row">
					<div class="col-md-12 col-sm-6">
						<div class="thumbnail">
							<div class="project-item-image-container">
								<%= image_tag "code700_430.jpg" %>
							</div>
							<div class="caption">
								<div class="transit-to-top">
									<h4 class="p-title">Happy Customer Testimonial<small></small></h4>
									<div class="widget_nav_menu">
										<ul class="social_team">
											<li><a href="http://facebook.com/bigdcode"><i class="icon-facebook"></i></a></li>
											<li><a href="http://twitter.com/bigdcode"><i class="icon-twitter"></i></a></li>
											<li><a href="http://google.com/+johnhenryliberty23"><i class=" icon-google"></i></a></li>
										</ul>
										<div class="phone-info">
											<i class=" icon-phone"></i> 123 456 678
										</div><!-- End phone info -->
									</div><!-- End widget_nav_menu -->
								</div><!-- transition top -->
							</div><!-- caption -->
						</div><!-- End thumbnail -->
					</div><!-- End col-md-12-->

					<div class="col-md-12  col-sm-6">
						<div class="thumbnail">
							<div class="project-item-image-container">
								<%= image_tag "anonyqlogo.png" %>
							</div>
							<div class="caption">
								<div class="transit-to-top">
								</h4>
								<div class="widget_nav_menu">
									<ul class="social_team">
										<li><a href="http://facebook.com/"><i class="icon-facebook"></i></a></li>
										<li><a href="http://twitter.com/"><i class="icon-twitter"></i></a></li>
									</ul>
									<div class="phone-info">
										<i class=" icon-phone"></i> 123 112 1231
									</div><!-- End phone info -->
								</div><!-- End widget_nav_menu -->
							</div><!-- transition top -->
						</div><!-- caption -->
					</div><!-- End thumbnail -->
				</div><!-- End col-md-12-->

			</div><!-- End row -->
		</div>
	</div><!-- End row -->

	<hr>

	<div class="row">
		<!-- Vasu -->
		<div class="col-md-3 col-sm-6">
			<div class=" box_style_3">
				<p><%= image_tag "https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/094/013/0d348ad.jpg", alt:"Teacher", class:"img-circle styled" %></p>
				<h4 class="p-title">Vasu Jindal <small>CEO</small></h4>
				<p>Our fearless leader. A seventeen-year-old undergraduate Freshman. Aspiring Steve Jobs. </p>    
				<ul class="social_team">
					<li><a href="http://facebook.com/"><i class="icon-facebook"></i></a></li>
					<li><a href="http://twitter.com/"><i class="icon-twitter"></i></a></li>
				</ul> 
				<hr>
			</div>
		</div> <!-- /Vasu -->
		<!-- Bindu Tummala-->
		<div class="col-md-3 col-sm-6">
			<div class=" box_style_3">
				<p><%= image_tag "https://pbs.twimg.com/media/B3JWeTBCAAA-pEb.jpg:large", :width => 150, :height => 150, alt:"Teacher", class:"img-circle styled" %></p>
				<h4 class="p-title">Bindu Tummala <small>Developer</small></h4>
				<p>Bindu is awesome. She got Facebook for Startup Weekend EDU!</p>   
				<ul class="social_team">
					<li><a href="http://facebook.com/"><i class="icon-facebook"></i></a></li>
					<li><a href="http://twitter.com/"><i class="icon-twitter"></i></a></li>
				</ul>
				<hr>
			</div>
		</div>
		<!-- Chirag -->
		<div class="col-md-3 col-sm-6">
			<div class=" box_style_3">
				<p><%= image_tag "https://pbs.twimg.com/profile_images/530120217523798016/qr1xfQle_400x400.jpeg", :width => 150, :height => 150, alt:"Teacher", class:"img-circle styled" %></p>
				<h4 class="p-title">Chirag Gupta <br><small>President</small></h4>
				<p>Chirag is a Ruby on Rails developer. Twitter @ChicagoGupta</p>    
				<ul class="social_team">
					<li><a href="http://facebook.com/cgupta731"><i class="icon-facebook"></i></a></li>
					<li><a href="http://twitter.com/ChicagoGupta"><i class="icon-twitter"></i></a></li>

				</ul> 
				<hr>
			</div>
		</div>  <!-- /Chirag -->
		<!-- Adil -->
		<div class="col-md-3 col-sm-6">
			<div class=" box_style_3">
				<p><%= image_tag "https://pbs.twimg.com/profile_images/1262414635/pic1.jpg", alt:"Teacher", class:"img-circle styled" %></p>
				<h4 class="p-title">Adil Shaikh <small>Developer</small></h4>
				<p>Adil is a developer getting his graduate degree in Computer Science at UT Dallas. @lidashaikh</p>    
				<ul class="social_team">
					<li><a href="http://facebook.com/anshaik"><i class="icon-facebook"></i></a></li>
					<li><a href="http://twitter.com/lidashaikh"><i class="icon-twitter"></i></a></li>
				</ul> 
				<hr>
			</div>
		</div> <!-- /Adil -->

		<!-- Sweta Patel -->
		<div class="col-md-3 col-sm-6">
			<div class=" box_style_3">
				<p><%= image_tag "https://media.licdn.com/mpr/mpr/shrink_200_200/p/7/000/212/36c/2c13b21.jpg", alt:"Teacher", class:"img-circle styled" %></p>
				<h4 class="p-title">Sweta Patel <small>Dallas ISD</small></h4>
				<p>Smart solutions for tough problems.</p>    
				<ul class="social_team">
					<li><a href="http://facebook.com/"><i class="icon-facebook"></i></a></li>
					<li><a href="http://twitter.com/"><i class="icon-twitter"></i></a></li>
				</ul> 
				<hr>            
			</div>
		</div> <!-- /Sweta -->

		<!-- Rick -->
		<div class="col-md-3 col-sm-6">
			<div class=" box_style_3">
				<p><%= image_tag "https://media.licdn.com/mpr/mpr/shrink_240_240/p/1/000/0b4/1b7/1e6414d.jpg", alt:"Teacher", class:"img-circle styled" %></p>
				<h4 class="p-title">Rick <small>Marketing Professional</small></h4>
				<p>There's always more to learn.</p>    
				<ul class="social_team">
					<li><a href="http://facebook.com/"><i class="icon-facebook"></i></a></li>
					<li><a href="http://twitter.com/"><i class="icon-twitter"></i></a></li>
				</ul> 
				<hr>              
			</div>
		</div> <!-- /Rick -->

		<!-- Chintan -->
		<div class="col-md-3 col-sm-6">
			<div class=" box_style_3">
				<p><%= image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c0.0.200.200/p200x200/1480567_10102717323443865_1481399807898755380_n.jpg?oh=5c1d7d91c562401e45394e2d3643f005&oe=54D23FB8&__gda__=1427946669_4a48dab31135439ea46224a66896bebb
					", alt:"Teacher", class:"img-circle styled" %></p>
				<h4 class="p-title">Chintan Sutaria <small>Business Guy</small></h4>
				<p>Make it happen now.</p>    
				<ul class="social_team">
					<li><a href="http://facebook.com/"><i class="icon-facebook"></i></a></li>
					<li><a href="http://twitter.com/"><i class="icon-twitter"></i></a></li>
				</ul> 
				<hr>              
			</div>
		</div> <!-- /Chintan -->

	</div><!-- End row -->    

	<hr class="add_bottom_30">

</div><!-- End container -->
</section><!-- End main_content-->

<%= render partial: "layouts/testimonials" %>