<%= render partial: 'layouts/header' %>
    
    
    <section id="main-features">
    <div class="divider_top_black"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-10 col-md-offset-1 text-center">
                <h2>AnonyQ</h2>
                <p class="lead">
                    Ask your questions anonymously<br>
                    Get a more engaged classroom.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-trophy"></i>
                    <h3>Expert teachers</h3>
                    <p>
                        AnonyQ1 Text
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class=" icon-ok-4"></i>
                    <h3>Collaborative Environment</h3>
                    <p>
                        Big D Code is housed within a tech/design focused coworking space in North Dallas called NoD ("node").
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-mic"></i>
                    <h3>72 Hours</h3>
                    <p>
                        The 3 month part-time program includes 72 hours of guided in-class instruction. 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-video"></i>
                    <h3>Video Screencasts</h3>
                    <p>
                        The instructors have created online lectures and screencasts to guide you through the lessons and homework. 
                    </p>
                </div>
            </div>
        </div><!-- End row -->
        </div><!-- End container-->
    </section><!-- End main-features -->
    
    <section id="main_content_gray">
    	<div class="container">
        	<div class="row">
            <div class="col-md-12 text-center">
                <h2>Upcoming Courses</h2>
                <p class="lead">We'll announce new classes here as they arrive!</p>
            </div>
        </div><!-- End row -->
        
        <div class="row">
        
        			<div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                            <span class="ribbon_course"></span>
                                <div class="photo">
                                    <a href="#">
                                    	<%= image_tag "BDCRailsLogo.jpg" %>
                                    </a>
                                    <div class="cat_row"><a href="#">Ruby on Rails</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>3-Month Part-Time</h4>
                                            <p > The 3-Month Part-Time evening program is on Mondays, Wednesdays, and Fridays starting on January 12, 2015. Application Deadline: November 30, 2014 </p>
                                            <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star"></i>
                                        	</div>
                                            <div class="price pull-right">$2,000</div>
                                        </div>
                                    </div>
                                    <div class="separator clearfix">
                                        <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Share</a></p>
                                        <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <a href="#">
                                    	<%= image_tag "BDCRailsLogo.jpg", alt:"", class:"" %>
                                    </a>
                                    <div class="cat_row"><a href="#">Ruby on Rails</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>3 Month Full-Time</h4>
                                            <p >Starting Spring 2015. Applications open January 31, 2015.</p>
                                            <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
                                        </div>
                                        <div class="price pull-right">$6,000</div>
                                        </div>
                                    </div>
                                    <div class="separator clearfix">
                                        <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Share</a></p>
                                        <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <a href="#">
                                    	<%= image_tag "BDCRailsLogo.jpg", alt:"", class:"" %>
                                    </a>
                                    <div class="cat_row"><a href="#">Ruby on Rails</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>6-Month Part-Time</h4>
                                            <p > Coming soon! </p>
                                            <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        </div>
                                        <div class="price pull-right">$10,000</div>
                                        </div>
                                    </div>
                                    <div class="separator clearfix">
                                        <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Share</a></p>
                                        <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <a href="#">
                                    	<%= image_tag "BDCRailsLogo.jpg", alt:"", class:"" %>
                                    </a>
                                    <div class="cat_row"><a href="#">Ruby on Rails</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>6-Month Full-Time</h4>
                                            <p > Coming soon! </p>
                                            <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
                                        </div>
                                        <div class="price pull-right">$12,000</div>
                                        </div>
                                    </div>
                                    <div class="separator clearfix">
                                        <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Share</a></p>
                                        <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
   
        </div><!-- End row -->
        <div class="row">
        	<div class="col-md-12">
        	     <a href="courses_grid.html" class="button_medium_outline pull-right">View all courses</a>
            </div>
        </div>
         </div>   <!-- End container -->
        </section><!-- End section gray -->
        
        <section id="main_content">
        <div class="container">
        <div class="row add_bottom_30">
        	<div class="col-md-12 text-center">
            <h2>Upcoming Info Sessions</h2>
            <p class="lead">Get a taste of Big D Code at a local info session!</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
       			<div class="media">
                   <div class="circ-wrapper pull-left"><h3>9<br>Dec</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading"><a href="javascript:void(0)">Addison Treehouse</a> <span class="label label-warning">RSVP</span></h4>
                         <p>John-Henry and Chirag will be presenting "The Modern Developer's Toolkit" at Addison Treehouse. Attendees are eligible for a 10% discount on any Big D Code courses!</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 2 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 2 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">TBD</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video Recording</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video Recording</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i>Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">TBD</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    <div class="media">
                   <div class="circ-wrapper pull-left"><h3>4<br>Nov</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="javascript:void(0)">North Dallas Coworking</a> <span class="label label-warning">RSVP</span></h4>
                         <p>John-Henry and Chirag will be presenting "The Modern Developer's Toolkit" at NoD ("node"). Attendees are eligible for a 10% discount on any Big D Code courses!</p> 
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">TBD</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">TBD</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
            </div><!-- End col md 6 -->
            <div class="col-md-6">
            <div class="media">
                   <div class="circ-wrapper pull-left"><h3>TBD<br>Dec</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading"><a href="javascript:void(0)">The DEC</a></h4>
                         <p>TBD</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">TBD</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i>Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">TBD</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    <div class="media">
                   <div class="circ-wrapper pull-left"><h3>TBD<br>Jan</h3></div>
                      <div class="media-body" >
                        <h4 class="media-heading"><a href="javascript:void(0)">Dallas Fort Work</a></h4>
                         <p>TBD</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">TBD</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i>TBD</li><li> <i class="icon-ok"></i>TBD</li><li> <i class="icon-ok"></i>TBD</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">TBD</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul> 
                      </div>
                    </div>
            	
            </div>
        </div><!-- End row -->
       	<hr>
                
          <div class="row">
          	<div class="col-md-3 col-sm-6">
				<h4>Get Hired</h4>
                <p>
                	<%= image_tag "GetHired.png", alt:"Pic", class:"img-responsive" %>
                </p>
                <p>We have partnered up with local IT recruiters to help you get hired as a developer at a local tech company!</p> 
            </div>
            
            <div class="col-md-3 col-sm-6">
				<h4>Meet Awesome People</h4>
                <p>
                	<%= image_tag "MeetPeople.png", alt:"", class:"img-responsive" %>
                </p>
                <p>NoD is an ideal workspace for designers and developers and we have partnered with them to get 24/7 coworking memberships for all of our students!</p> 
            </div>
            
            <div class="col-md-3 col-sm-6">
				<h4>Tell Your Friends</h4>
                <p>
	                <%= image_tag "ReferFriends.png", alt:"", class:"img-responsive" %>
                </p>
                <p>Refer us a new student, and we'll give you a big fat referral bonus on the spot.</p> 
            </div>
            
            <div class="col-md-3 col-sm-6">
				<h4>Links</h4>
                <ul class="list_1">
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">Facebook</a></li>
                      <li><a href="#">Blog</a></li>
                      
                      <li><a href="#">Apply now!</a></li>
                 </ul>
            </div>
        	
        </div><!-- End row -->
        
        <hr class="add_bottom_30">
        <div class="row">
        	<div class="col-md-12">
                <p>
                	<%= image_tag "BigDCodeSponsors.jpg", alt:"Partners", class:"img-responsive" %>
            	</p>
           </div>
        </div>
        </div><!-- End container -->
    </section><!-- End main_content -->
    
   <%= render partial: "layouts/testimonials" %>