<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Dashboard | AnonyQ</title>
  <%= stylesheet_link_tag    'student/student', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'student/student', 'data-turbolinks-track' => true %>
</head>
<body>
  <%= render partial: "student/layouts/navbar" %>
  <%= render partial: "student/layouts/sidebar" %>  
  <%= yield %>
</body>
</html>

