<section id="sub-header_pattern_2">
    <div class="container">
    
      <div class="row">
          <div class="col-md-12 text-center">
              <h1><%= @course.name %></h1>
            </div>
        </div><!-- End row -->
        
        <div class="row" id="sub-header-features">
          <div class="col-md-12">
              <h2>Welcome to AnonyQ</h2>
                <p><%= @course.summary %>
                <br>
                Click here to join the <%= @course.name %> page and ask questions:
                <div class="button_big" %><a href="http://anonyq.socialengine.com/categories/19575/chemistry-165">ASK QUESTIONS NOW</a>
</div>
                </p>
                <p><em>Instructor: Professor X</em></p>
            </div>
          
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
  </section>
  
  <section id="strips-course" class="style_2">
    
    <div class="container">
    
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Course Overview</li>
    </ol>
    
    <% @sections.each_with_index do |s, i| %>
      <% i += 1 %>
      <article class="row">
        <div class="col-md-3 col-sm-3 hidden-xs text-center"><%= image_tag "theme/number_#{i}_small.png" %></div>
          <div class="col-md-9 col-sm-9">
          <h3><em><%= "Stage #{i}" %></em> <%= s.title %></h3>
          <p><%= s.description %></p>
                  
          <ul class="data-lessons">
              <li class="po-markup">
                    <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Available dates</a>
                      <div class="po-content hidden">
                    <div class="po-title"><strong>Next dates</strong></div> <!-- ./po-title -->
                          <div class="po-body">
                            <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                          </div><!-- ./po-body -->
                      </div><!-- ./po-content -->
                </li>
                <li class="po-markup">
                      <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                      <div class="po-content hidden">
                    <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                          <div class="po-body">
                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                          </div><!-- ./po-body -->
                      </div><!-- ./po-content -->
                      </li>
                      <li class="po-markup">
                      <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i>Audio doc</a>
                      <div class="po-content hidden">
                    <div class="po-title"><strong>Audio doc</strong></div> <!-- ./po-title -->
                          <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Audio lessons</li><li> <i class="icon-ok"></i>1 Audio for practice</li><li> <i class="icon-ok"></i>1 Audio Quiz</li></ul>
                          </div><!-- ./po-body -->
                      </div><!-- ./po-content -->
                      </li>
                      <li class="po-markup">
                      <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                      <div class="po-content hidden">
                    <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                          <div class="po-body">
                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                          </div><!-- ./po-body -->
                      </div><!-- ./po-content -->
                      </li>
            </ul>
            <%= link_to "Agenda", agenda_path, class:"button_medium" %>
            <%= link_to 'Details', course_section_path(@course, s), class:"button_medium_outline" %>

          </div>
          
      </article><!-- End strip-program  -->
    <% end %>
            
            <div class="row">
            
                <div class="col-md-4">
                    <div class="question_box">
                        <h3>No sit debitis meliore postulant, per ex prompta alterum sanctus?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
                        </p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Autem putent singulis usu ea, bonorum suscipit eum?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
                        </p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Pro moderatius philosophia ad, ad mea mupercipitur?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
                        </p>
                    </div>
                </div>
                
            </div><!-- end row -->
    </div>
    
  </section>

  <%= render partial: "layouts/start_learning" %>
