<section class="tp-banner-container">
		<div class="tp-banner" >
			<ul>	<!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="4" data-masterspeed="1500" >
					<!-- MAIN IMAGE -->
					<%= image_tag "slides/slide_5.jpg", alt:"slidebg2", class:"", data: { bgfit:"cover", bgposition: "left top", bgrepeat: "no-repeat"} %>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption skewfromrightshort customout"
						data-x="center"
						data-y="center"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 2">
						<%= image_tag "slides/logo.png", alt:"Big D Code", class:"" %>
					</div>
                    
                    <!-- LAYER NR. 2 -->
					<div class="tp-caption medium_bg_darkblue skewfromleft customout"
						data-x="left"
						data-y="190"
                        data-hoffset="30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">HTML/CSS
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption medium_bg_darkblue skewfromleft customout"
						data-x="left"
						data-y="245"
                        data-hoffset="30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">Ruby on Rails
					</div>
                    
                    <!-- LAYER NR. 3 -->
					<div class="tp-caption medium_bg_darkblue skewfromleft customout"
						data-x="left"
						data-y="300"
                        data-hoffset="30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">Full Stack Training
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption medium_bg_darkblue skewfromright customout"
						data-x="right"
						data-y="190"
                        data-hoffset="-30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 8">Part-Time Programs
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption medium_bg_darkblue skewfromright customout"
						data-x="right"
						data-y="245"
                        data-hoffset="-30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 8">Full-Time Programs
					</div>
                    
                    <!-- LAYER NR. 3 -->
					<div class="tp-caption medium_bg_darkblue skewfromleft customout"
						data-x="right"
						data-y="300"
                        data-hoffset="-30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">Apply Today
					</div>
				</li>
                <!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<%= image_tag "slides/slide_6.jpg", alt:"slidebg2", class:"", data: { bgfit:"cover", bgposition: "left top", bgrepeat: "no-repeat"} %>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption medium_light_white skewfromrightshort customout"
						data-x="80"
						data-y="96"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 4">Build
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption medium_thin_white skewfromleftshort customout"
						data-x="235"
						data-y="110"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="900"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 5">&
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption large_bold_white skewfromleftshort customout"
						data-x="80"
						data-y="152"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 7">Sharpen your skills
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption small_thin_white  customin customout"
						data-x="80"
						data-y="240"
						data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 8">Big D Code is designed for motivated individuals<br/> who want to take their career to the next level.<br/> Are you ready to code your way to <br/> a new career?
					</div>
				</li>
                
                <!-- SLIDE  -->
				<li data-transition="cube-horizontal" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<%= image_tag "slides/slide_1.jpg", alt:"slidebg2", class:"", data: { bgfit:"cover", bgposition: "left top", bgrepeat: "no-repeat"} %>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption medium_light_white skewfromrightshort customout"
						data-x="80"
						data-y="96"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 4">ANYONE CAN
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption medium_thin_white skewfromleftshort customout"
						data-x="235"
						data-y="110"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="900"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 5">
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption large_bold_white skewfromleftshort customout"
						data-x="80"
						data-y="152"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 7">Learn how to code
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption small_thin_white  customin customout"
						data-x="80"
						data-y="240"
						data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 8">All you have to do is start. <br/> Enjoy what you do.<br/> Be a part of something big.
					</div>
				</li>
                
                 <!-- SLIDE  -->
				<li data-transition="zoomin" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<%= image_tag "slides/slide_7.jpg", alt:"slidebg4", class:"", data: { bgfit:"cover", bgposition:"left top", bgrepeat: "no-repeat"} %>
					<!-- LAYERS -->

					<!-- LAYER NR. 10 -->
					<div class="tp-caption large_bold_white customin customout"
						data-x="center" data-hoffset="0"
						data-y="160"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1700"
						data-easing="Back.easeInOut"
						data-endspeed="300"
						style="z-index: 11">Part-Time or Full-time
					</div>

					<!-- LAYER NR. 11 -->
					<div class="tp-caption mediumlarge_light_white_center customin customout"
						data-x="center" data-hoffset="0"
						data-y="bottom" data-voffset="-150"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1900"
						data-easing="Back.easeInOut"
						data-endspeed="300"
						style="z-index: 12">Spend your evenings with us<br/>
			for twelve weeks and you'll be on your way<br/>
			to an entirely new career.
					</div>
				</li>
				
			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</section><!-- End slider -->